
body {
    font-family: sans-serif;
    background-color: #cfdde9;
}

.wrapper {
    display: inline-flex;
}

.viewer {
    flex-direction: row;
}

.navigator {
    min-width: 190px;
    flex-direction: row;
}

.showcase {
    max-width: 890px;
}

ul {
    list-style: none;
}